<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.demo.dao.userDao">
   <resultMap type="com.zh.demo.entity.user" id="userMap">
       <id column="id" property="id"></id>
       <id column="name" property="name"></id>
       <id column="mobile" property="mobile"></id>
       <id column="sex" property="sex"></id>
       <id column="pwd" property="password"></id>
       <id column="desc" property="desc"></id>
   </resultMap>
   <select id="getAllUser" resultMap="userMap">
       select * from user
   </select>
</mapper>